<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<footer>
  <div>
    <p>TFTGameWatcher</p>
    <%= link_to 'About', about_path, id: 'foot-item' %>
  </div>
</footer>
