<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<footer>
  <div id="footer">
    <p>&copy; <%= Time.now.year %> Your Website Name. All rights reserved.</p>
  </div>
</footer>
