<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<nav class="navbar">
  <div id="navPlacement">
    <div id="navItems">
      <a id="navbar-item" href="/">Home</a>
      <a id="navbar-item" href="/users">Users</a>
      <!-- Add more navigation items here -->
    </div>
  </div>
</nav>
