@use "bulma/bulma";

@font-face {
  font-family: 'Friz Quadrata Regular OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Regular OS'), url('friz-quadrata-regular-os-5870333951e7c.woff') format('woff');
}

@font-face {
  font-family: 'Friz Quadrata Bold Italic OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Bold Italic OS'), url('friz-quadrata-bold-italic-os-5870341205e0f.woff') format('woff');
}

h1, h2, h3, .title {
  font-family: 'Friz Quadrata Bold Italic OS', Arial, sans-serif;
}

html, body {
  font-family: 'Friz Quadrata Regular OS', Arial;
  background-color: #363944;
  color: white;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: auto;
  height: auto;
}

.field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

#information {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
}

#header {
  background-color: #54596a;
  padding: 5px;
  text-align: left;
}

#title {
  padding-left: 15px;
}

nav {
  background-color: #2b2e37;
}

#navPlacement {
  padding: 10px;
  display: flex;
  justify-content: left;
}

#navItems {
  display: flex;
  padding: 0;
}

.navbar-item {
  padding: 10px 30px;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: #373b47;
  color: #ffffff;
}

.navbar-item:visited {
  color: inherit;
}

footer {
  padding: 10px;
  text-align: center;
  align-items: center;
}

#foot-item {
  color: rgb(198, 198, 255);
  font-size: small;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.color-change {
  background-color: #dc291e;
  color: #000000;
  font-family: 'Friz Quadrata Regular OS', Arial;
}

.table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.table {
  border: 1px solid black;
  padding: 50%;
  border-collapse: collapse;
  margin: 20px;
}

.table th, .table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #54596a;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #2b2e37;
}

.table tr:hover {
  background-color: #373b47;
}
