@use "bulma/bulma";

html, body {
  background-color: #363944;
  color: white;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#container {
  border: 5px solid black;
  padding: 20px; 
  // align-items: fle;
  // text-align: center;
}

#information{
  align-items: center;
  text-align: center;
}

#header{
  background-color: #54596a;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  text-align: left;
}

#footer{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  align-items: center;
}
            